.navbar-nav {
  --bs-nav-link-color: #333 !important;
}

.nav-link:visited {
  color: var(--bs-nav-link-color) !important;
}

.nav-link:hover {
  background-color: var(--bs-nav-link-color) !important;
  color: #fff !important;
}

.nav-link.active {
  color: #fff !important;
}

.nav-link.active.menu {
  color: #2C3E50 !important;
}

.nav-link.active.menu:hover {
  color: #fff !important;
}

.page-link:hover {
  background-color: var(--bs-pagination-color) !important;
}

.offcanvas .list-group-item.active {
  background-color: #0d6efd; /* bootstrap primary */
  color: #fff;
}

.offcanvas .list-group-item.active i {
  color: #fff;
}

.nav-icon {
  width: 24px;
  text-align: center;
}

.nav-suggestions.has-pending {
  font-weight: 600;
}

.nav-suggestions.has-pending i {
  color: #dc3545; /* danger */
}
