* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECF0F1 !important;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:not(.btn),
a:not(.btn):visited {
  color: #333;
}

a:not(.btn):hover {
  color: #fff !important;
  background-color: #333;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

label {
  display: block;
}
