<ul class="nav flex-column my-2">
  <li class="nav-item p-3">
    <%= link_to 'Página Inicial', root_path, class: "nav-link active", "aria-current": 'page' %>
  </li>
  <li class="nav-item p-3">
    <%= link_to 'Despesas', debts_path, class: "nav-link" %>
  </li>
  <li class="nav-item p-3">
    <%= link_to 'Cartões', cards_path, class: "nav-link" %>
  </li>
  <li class="nav-item p-3">
    <a class="nav-link disabled" href="#">New Revenue</a>
  </li>
</ul>